{% include 'admin/header.html' %}
 <div class="container-fluid">
    <div class="indeed">
    	<div class="row">
    		
    			{% if session['type_user']== 1 %}
    					<div class="col-md-2">
    					</div>
			        	<div class="col-md-4">
			        		<div class="card bg-alizarin">
			        			<div class="card-body">
			        				<!-- <h4>50,49</h4>	         -->
			        				<table class="tbl-transparant">
			        					<tbody>
			        						<tr>
			        							<td rowspan="2">
			        								<span class="fa fa-running" style="font-size: 50px;color: #fff"></span>
			        							</td>
			        							<td colspan="2" class="float-right graph-title">Data Training</td>
			        						</tr>
			        						<tr>
			        							<td class="float-right graph-title-md">{{countdatatrain}}</td>
			        						</tr>
			        					</tbody>
			        				</table>
			        			</div>
			        			<!-- end card body -->
			        		</div>
			        		<!-- end card -->
			        	</div>
			        	<!-- end col-md-3 -->


			        	<div class="col-md-4">
			        		<div class="card bg-river">
			        			<div class="card-body">
			        				<!-- <h4>50,49</h4>	         -->
			        				<table class="tbl-transparant">
			        					<tbody>
			        						<tr>
			        							<td rowspan="2">
			        								<span class="fa fa-vial" style="font-size: 50px;color: #fff"></span>
			        							</td>
			        							<td colspan="2" class="float-right graph-title">Data Testing</td>
			        						</tr>
			        						<tr>
			        							<td class="float-right graph-title-md">{{countdatatest}}</td>
			        						</tr>
			        					</tbody>
			        				</table>
			        			</div>
			        			<!-- end card body -->
			        		</div>
			        		<!-- end card -->
			        	</div>
			        	<!-- end col-md-4 -->
			        {% else %}
			        	<div class="col-md-12">
			        		<div class="alert alert-info">
			        			<h3>Hai, {{session['fullname']}}</h3>
			        		</div>
			        	</div>
			        {% endif %}
	        </div>
	        <!-- end row -->
		
	</div>
</div>
{% include 'admin/footer.html' %}